# Datatypes

### There are 14 Datatypes

1. int
2. float
3. complex
4. bool
5. str
6. list
7. tuple
8. set
9. frozenset
10. dict
11. range
12. bytes
13. bytearray
14. None

- First Five are the fundamental Datatype
+ Rest are the Secondary Datatype

### 1.Int

In [2]:
a=10
print(a)

10

In [3]:
id(a) # id is identifier where we stored

140703783204928

In [4]:
type(a)

int

In [5]:
# Excuting in one cell then we are getting
# id stands for identifier
# print stands for printing whatever we want to execute
# type is for checking Datatype
a=10
print(a)
id(a)
type(a)

10

int

In [6]:
a=10
a
id(a)
type(a)

int

In [7]:
a=10
print(a)
print(id(a))
print(type(a))

10
140703783204928
<class 'int'>

In [8]:
a=10
print(id(a))

140703783204928

In [9]:
b=10
print(id(b))

140703783204928

In [10]:
c=10
print(id(c))

140703783204928

In [11]:
d=10
print(id(d))

140703783204928

#### Here in above id's having same value as each and every variable pointing to same value(memory location)

### Given a number in decimal number convert it into binary, octal and hexadecimal number. Here is function to convert decimal to binary, decimal to octal and decimal to hexadecimal.

In [12]:
a = 10

# 1. binary
#### base 2
#### 0,1
#### bin()
#### 0b or OB

# 2. octal
##### base 8
##### 0,1,2,3,4,5,6,7
##### oct()
##### 0o or 0O

# 3 hexadecimal
##### base 16
##### 0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f
##### hex()
##### 0x or 0X

In [13]:
a = 52
print(bin(a))
print(hex(a))
print(oct(a))

0b110100
0x34
0o64

In [14]:
b = 72
hex(b)

'0x48'

In [15]:
a = 64
hex(b)

'0x48'

In [16]:
c= 100
oct(c)

'0o144'

In [17]:
type(bin(a))

str

In [18]:
type(hex(b))

str

In [19]:
a = 7.5
bin(a)

TypeError: 'float' object cannot be interpreted as an integer

+ As above, We can see 'float' object cannot be interpreted as an integer

In [ ]:
a = -24
bin(a)

##### If we are writting any number then this number treated as decimal values(it means a decimal value)

### 2. Float

In [ ]:
# 2. Float
b = 10.5
print(b)
print(id(b))
print(type(b))

### 3. Complex

In [20]:
# 3. Complex
a=10+20j
print(a)
print(type(a))
print(id(a))

(10+20j)
<class 'complex'>
1789058165936

In [21]:
a.real

10.0

In [22]:
a.imag

20.0

In [23]:
b=30

In [24]:
print(a+b)

(40+20j)

In [25]:
c=a+b

In [26]:
print(c)

(40+20j)

In [27]:
d=10+9j

In [28]:
c-d

(30+11j)

In [29]:
c+d

(50+29j)

### 4. Bool

In [30]:
# 4. Bool
a=1
b=0
bool(a)
bool(b)

False

In [31]:
a=True
b=False

In [32]:
a=10
b=20
print(a>b)
print(a<b)

False
True

In [33]:
True+True
boo

NameError: name 'boo' is not defined

### 5. String

+ String - str
+ Anything which comes under either single'' or double quotes is known as string. 
+ As String are ordered sequence it means we can use indexing and slicing

In [21]:
a = 'PRERNA'
print(a)
print(type(a))
print(id(a))

PRERNA
<class 'str'>
2722734302384

In [23]:
a = 'P'
print(a)
print(type(a))
print(id(a))

P
<class 'str'>
2722666728560

In [24]:
a = "We are attending python class right now.It is very easy to understand"
print(type(a))

<class 'str'>

#### Indexing

+ Indexing allow to grab a single character from the string
+ Indexing uses [] notation
+ Indexing starts from 0
+ In indexing we inserted our data in Insertion order i.e.Prerna start from 'P' so it is in Insertion order
+ Forward Indexing or positive Indexing start from left to right ex - 0 1 2 3 4 5
+ Backward indexing or negative Indexing starts from right to left ex - -1 -2 -3 -4 -5

In [31]:
B = "KINGFISHER"

In [32]:
B[1]

'I'

In [33]:
B[-2]

'E'

#### Slicing

+ Slicing allows you to grab a subsection of multiple characters, a "slice" of the string
+ Syntax [start:stop:step]
+ Start is a numerical index for the slice start
+ Stop is the index you will go up to (but not include)
+ Step is the size of "jump" you take

In [28]:
a = "PRERNA"

In [36]:
a[1:] # It's count from 2

'RERNA'

In [37]:
a[1:5] # It's count from 1 to 4

'RERN'

In [38]:
a[:5] # It's count from 1 to 4

'PRERN'

In [68]:
F = "PRERNA"

In [69]:
F[::2]

'PEN'

In [70]:
F[::-1] # Reverse Index

'ANRERP'

In [63]:
 d = "ranjan"

In [65]:
d[0].upper()+d[5]+d[5].upper()

'RnN'

In [64]:
d[0].upper()+d[5]+d[5].upper()

'RnN'

In [67]:
d[0].upper()+d[1:-1]+d[-1].upper()

'RanjaN'

+ Strings Concatenation

In [71]:
a = 'Prerna'
b = 'Pandey'
a+b

'PrernaPandey'

In [75]:
a = 'Prerna'    # For giving space in between, just put space to second word
b = ' Pandey'
a+b

'Prerna Pandey'

### TypeCasting

+ Converting from one datatype to another datatype is known as typecasting.
+ This is also known as typeconversion

In [3]:
# 1. int
a=10
b=float(a)
type(b)

float

In [4]:
c=str(a)
type(c)

str

In [5]:
d=bool(a)
type(d)

bool

In [6]:
e=complex(a)
type(e)

complex

In [7]:
# 2.float
a=10.5
b=int(a)
type(a)

float

+ int values can be typecast rest of all the fundamental datatypes

+ float datatypes can be converatable all the datatypes


+ string can be convertable only in the bool but sometimes in a string, float, complex

+ Complex number datatype can convertable only string and bool

+ Bool datatype canvert all those rest datatype

#### Note - Typeconversion is not a suggestable technique until unless it requires or typeconversion will be the last option.

In [1]:
# 5. Bool
a=True
b=float(a)
type(b)
c=str(a)
type(c)
d=bool(a)
type(d)
e=complex(a)
type(e)

complex

In [2]:
k=False
b=float(k)
type(b)
c=str(k)
type(c)
d=bool(k)
type(d)
e=complex(k)
type(e)

complex

In [8]:
### How to reverse the string -->> [::2] ask in interview

### 6. List

+ a) List can be declared with the []
+ b) List consists hetrogenous elements
+ c) Duplicate objects/elements allowed.
+ d) Insertion oredr preserve then indexing and slicing can be possible.
+ e) It is mutable.

In [9]:
a=[10,20,30,40]
print(a)
print(type(a))
print(id(a))

[10, 20, 30, 40]
<class 'list'>
2535719983808

In [11]:
## Hetrogenous element

b=[10,True,10.5,10+20j,'Prerna']
print(b)
print(type(b))

[10, True, 10.5, (10+20j), 'Prerna']
<class 'list'>

In [12]:
c=[10,10,10,10,20,10.5,True,'Prerna']
print(c)
print(type(c))

[10, 10, 10, 10, 20, 10.5, True, 'Prerna']
<class 'list'>

In [14]:
c[0]

10

In [15]:
c[2]

10

In [16]:
c[-1]

'Prerna'

In [17]:
b[3]

(10+20j)

In [18]:
b[2]

10.5

In [19]:
b[-2]

(10+20j)

In [20]:
b[1:2]

[True]

In [21]:
b[:1:4]

[10]

In [22]:
b[2:-2:1]

[10.5]

In [23]:
a=[10,20,30,40]
type(a)

list

+ Append is used to add at the end

### List Methods

In [24]:
a.append(50) # adding values at the end
a

[10, 20, 30, 40, 50]

In [54]:
a.add(25) # adding values
a

{10, 10.5, 20, 25, 30, 40, 50, False, 'Pandey', 'Prerna', True}

In [59]:
# Defining a list
list = [{1, 2}, ('a'), ['1.1', '2.2']]

# clearing the list
list.clear()

print('List:', list)

List: []

In [91]:
my_list=['True', 'False',10,20,30]

In [92]:
my_list.copy() # copy the old list

['True', 'False', 10, 20, 30]

In [94]:
counts = my_list.count('True') # count the values of list
print(counts)

1

In [102]:
my_list.extend('Hi')
my_list

['True',
 'False',
 10,
 20,
 30,
 'H',
 'a',
 'p',
 'p',
 'y',
 'H',
 'a',
 'p',
 'p',
 'y',
 'h',
 'e',
 'l',
 'l',
 'o',
 'H',
 'a',
 'p',
 'p',
 'y',
 'H',
 'a',
 'p',
 'p',
 'y',
 'H',
 'i',
 'H',
 'i']

In [178]:
my_list.append(80) #Here I'm executing two time. So we are getting two time 5
my_list

['True', 'False', 10, 30, 40, 'h', 'i', 80]

In [107]:
my_list=['True','False',10,20,30,40]
my_list

['True', 'False', 10, 20, 30, 40]

In [108]:
my_list.extend('hi') # by extend we can modify
my_list

['True', 'False', 10, 20, 30, 40, 'h', 'i']

In [109]:
index = my_list.index('False')
index

1

In [111]:
return_value = my_list.pop(3)
print('Return Value:', return_value)

Return Value: 20

### 7. Tuple

+ a) Tuple can be declared with the ()
+ b) Tuple consists hetrogenous elements
+ c) Duplicate objects/elements allowed.
+ d) Insertion oredr preserve then indexing and slicing can be possible.
+ e) It is immutable.

In [134]:
ab=(10,20,30,40,50)
print(ab)
print(type(ab))
print(id(ab))

(10, 20, 30, 40, 50)
<class 'tuple'>
2535719912528

In [135]:
ab[0]

10

In [136]:
ab[1:3]

(20, 30)

In [137]:
ab[::-1]

(50, 40, 30, 20, 10)

In [138]:
A=[10]
type(A)

list

In [139]:
b=(10)
type(b)

int

In [140]:
b=('10',)
type(b)

tuple

In [141]:
count=ab.count(40) # count
count

1

In [142]:
# vowels tuple
vowels = ('a', 'e', 'i', 'o', 'i', 'u')

# index of 'e' in vowels
index = vowels.index('e')
print('The index of e:', index)

# element 'i' is searched
# index of the first 'i' is returned
index = vowels.index('i')

print('The index of i:', index)

The index of e: 1
The index of i: 2

In [44]:
a=(10,10.5,True,'Prerna Pandey') # We use tuple with all type
type(a)

tuple

# 2 Differnt between list and tupple
+ Hetrogenous element allow tuple as well as list
+ List use [] to denote while tuple uses ()
+ List are mutable while tuple are immutable
+ List and tuple are ordered.
+ we can use one element to executing in list while we required two element in tuple to excute the code

+ For tuple we have to add minimum two element

In [43]:
c=('Prerna',)
type(c)

tuple

### 8. Set

+ Set is declared by {}
+ It allows only unique values.
+ It allows hetrogenous elements
+ It is mutable
+ Sets are unordered
+ Set doesn't preserve insertion order hence indexing and slicing can't be possible

In [47]:
## For insertion, we get only unique values and doesn't preserve the insertion order
## Here output doesn't contain the insertion order not repeatting value as containing only unique values
a = {10,10,10,20,30,40}
print(a)
print(type(a))

{40, 10, 20, 30}
<class 'set'>

In [143]:
a = {10,10,10,20,30,40, True, False, 10.5, 'Prerna'}
print(a)
print(type(a))

{False, True, 40, 10, 10.5, 'Prerna', 20, 30}
<class 'set'>

+ Set contains only unique value

In [144]:
a.add(50)
a

{10, 10.5, 20, 30, 40, 50, False, 'Prerna', True}

In [145]:
a.add('Pandey')
a

{10, 10.5, 20, 30, 40, 50, False, 'Pandey', 'Prerna', True}

In [147]:
a.clear()
a

set()

In [148]:
b = {'True','False',10,20,30,40,'Prerna','Pandey'}
b

{10, 20, 30, 40, 'False', 'Pandey', 'Prerna', 'True'}

In [149]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'f', 'g'}

# Equivalent to A-B
print(A.difference(B))

{'a', 'd', 'b'}

In [150]:
# Equivalent to B-A
print(B.difference(A))

{'f', 'g'}

In [164]:
c = {20,30,40}
d = {50,60,80}

In [165]:
c.difference(d)

{20, 30, 40}

In [166]:
c.difference_update(d)
c

{20, 30, 40}

In [167]:
a = {10,20,30}
b = {30,40,50}
a.difference_update(b)
a

{10, 20}

In [174]:
c.discard(20)    # Discard the 20th element
c

{30, 40}

In [175]:
a = {10,20,30}
b = {30,40,50}
z=a.intersection(b)  # Intersection
z

{30}

In [179]:
A = {1, 2, 3, 4}
B = {2, 3, 4, 5, 6}    
C = {4, 5, 6, 9, 10}

result = C.intersection_update(B, A)       # intersection_update()

print('result =', result)
print('C =', C)
print('B =', B)
print('A =', A)

result = None
C = {4}
B = {2, 3, 4, 5, 6}
A = {1, 2, 3, 4}

In [181]:
B.pop()

2

#### 9.Frozen Set
1. frozen set is immutable

In [1]:
a2={10,20,20.30,25.5,35.6,'Prerna',True,False}
f=frozenset(a2)

In [2]:
print(f)
print(type(f))

frozenset({False, True, 35.6, 'Prerna', 10, 20, 20.3, 25.5})
<class 'frozenset'>

#### 10.Dict
1. Dictionary also declare by {} brackets.
2. It contains key and values pair.
3. Key must be unique and non-empty.
4. Values can be duplicate or non-empty.
5. Heterogenous objects are allowed for keys and values.
6. It is mutable.
7. key is immutable and values are mutable.

In [4]:
d={1:10,2:20,3:30,4:40}

In [5]:
print(d)
print(type(d))

{1: 10, 2: 20, 3: 30, 4: 40}
<class 'dict'>

In [6]:
d1={"Physics":50.5,"Maths":55,"Chemistry":45,"Biology":50.5,"English":45}   ##If key is repeated then dict will take only 1 recent value.
print(d1)
print(type(d1))

{'Physics': 50.5, 'Maths': 55, 'Chemistry': 45, 'Biology': 50.5, 'English': 45}
<class 'dict'>

In [7]:
d1["Physics"]

50.5

In [8]:
d1.update({"Physics":50})

In [9]:
d1.update({"Hindi":50})

In [10]:
d1["Physics"]=50.5

In [11]:
d1['English']=56

In [12]:
d1

{'Physics': 50.5,
 'Maths': 55,
 'Chemistry': 45,
 'Biology': 50.5,
 'English': 56,
 'Hindi': 50}

In [13]:
d={}
type(d)   ##Type of empty set is dict

dict

#### 11. Range
1. Range is the data type represents a sequence of numbers/elements present in the sequence is not modifible.
2. Elements represents in the sequence is not modifiable i.e range is immutable.
3. It preserve insertion order.(indexing and slicing can be possible).
4. For declaring a range we use range()function

In [15]:
r=range(10)

In [16]:
print(r)
print(type(r))

range(0, 10)
<class 'range'>

In [17]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
for i in range(10,30,2):
    print(i)

10
12
14
16
18
20
22
24
26
28

In [19]:
for i in range(10,40,5):
    print(i)

10
15
20
25
30
35

In [20]:
for i in range(30,20,-1):
    print(i)

30
29
28
27
26
25
24
23
22
21

#### 12.Byte
a) Bytes are sequence only. \
b) It is a group of elements. 

bytes are immutable while bytearray are mutable.

In [22]:
x=[10,20,30,40]
b=bytes(x)
print(b)
print(type(b))

b'\n\x14\x1e('
<class 'bytes'>

In [23]:
for i in b:
    print(i)

10
20
30
40

In [24]:
x=[10,50,200,255]
b=bytes(x)
print(b)
type(b)

b'\n2\xc8\xff'

bytes

In [25]:
print(b[0])
print(b[-1])

10
255

In [26]:
b=[12,23,34,45,65]
a=bytearray(b)
print(a)
for i in b:
    print(i)

bytearray(b'\x0c\x17"-A')
12
23
34
45
65

13. None : \
Set value of variable or an object to none. (None is not False/Null/Empty)